<!DOCTYPE html>
<html>
    <head> 
    </head>
    <body>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>        
<script>  
$(document).ready(function () {
    var pattern = {{ pattern | safe }};
                  
    //alias-array of 9 random numbers. aliaspat-holds correct pattern with reference to alias array
    alias = [];
    aliaspat = [];
    for(var k=0;k<9;k++)
        alias.push(Math.floor(Math.random()*(100-1)+1));
    for(var t=0;t<pattern.length;t++)
        aliaspat[t] = alias[pattern[t]];
    
    document.getElementById("series").innerHTML="Please follow this pattern "+aliaspat;
    var can = $("#canvas")[0],
    ctx = can.getContext('2d'),
    wid = can.width
    hei = can.height
    pad = 60,
    circles = [],
    selCircs = [],
    correctPath = pattern,
    startPoint = {
        x: 0,
        y: 0
    },
    dragging = false;
    console.log(correctPath,"path value");

(function init() {
    //var rad = (wid - pad * 4) / 4;
    rad = 30;

    for (var i = 1; i <= 3; i++) {
        for (var j = 1; j <= 3; j++) {
            circles.push(new Circle({
                x: j * (pad + rad),
                y: i * (pad + rad)
            }, rad));
        }
    }
})();
(function draw() {
    ctx.clearRect(0, 0, wid, hei);

    for (var i = 0; i < circles.length; i++) {
        circles[i].draw(ctx);
        //get position of each circle to draw number
        var pos = circles[i].position();
        //set style and colour
        ctx.fillStyle = "#000";
        ctx.font = "bold 25pt Calibri";
        //draw the text into the circle
        ctx.fillText(alias[i],pos.x-10,pos.y+8);
    }
    
    //animation of moving digits
    for (var i = 0; i < 10; i++) {
        //setting properties fr digits
        ctx.fillStyle = "#000";
        ctx.font = "bold 25pt Calibri";
        //getting random number within 100, and writing it at a random co-ordinate
        ctx.fillText(Math.floor(Math.random()*(100-1)+1),Math.floor(Math.random()*(250-1)+50),Math.floor(Math.random()*(250-1)+50));
    }
    
    if (dragging && selCircs.length > 1) {
        var pos = selCircs[0].circ.position();
        ctx.beginPath();
        ctx.lineWidth = 10;
        ctx.strokeStyle = "#000";
        ctx.moveTo(pos.x, pos.y);
        for (var j = 1; j < selCircs.length; j++){
            pos = selCircs[j].circ.position();
            ctx.lineTo(pos.x,pos.y);
        }
        ctx.stroke();
    }
    requestAnimationFrame(draw);
})();

//This function saves instance of each circle on canvas and their respective properties
function Circle(center, radius, fill, stroke, hover, active) {
    var center = {
        x: center.x,
        y: center.y
    },
        radius = radius,
        fill = fill || '#ccc',
        hover = hover || '#ddd',
        active = active || '#0f0',
        stroke = stroke || '',
        path;
    this.position = function(){
        return {x:center.x, y:center.y};
    }
    this.hovering = false;
    this.selected = false;

    this.draw = function(ctx) {
        //if this.selected is true (fillstyle=active) else goes to next condition
        //if this.hovering is true (fillstyle=hover) else equals to fill
        ctx.fillStyle = this.selected ? active : this.hovering ? hover: fill;
        if (stroke) ctx.strokeStyle = stroke;

        ctx.beginPath();
        //drawing the circles
        ctx.arc(center.x, center.y, radius, 0, Math.PI * 2, false);
        ctx.fill();
        if (stroke) ctx.stroke();
    };

    this.isPointInPath = function(x, y) {
        //computing distance between mouse click and center of circle which should be <= radius
        return Math.sqrt(Math.pow(center.x - x, 2) + Math.pow(center.y - y, 2)) <= radius;
    };
    
}

$("#canvas").mousemove(function(e) {
    for (var i = 0; i < circles.length; i++) {
        var cir = circles[i];
        //console.log("i value",i);
        var pip = cir.isPointInPath(e.offsetX, e.offsetY);
        cir.hovering = pip;
        if (dragging && pip && !cir.selected) {
            //console.log(i,circles[i]);
            selCircs.push({circ:cir, index:i});
            //console.log("selected:",selCircs);
            cir.selected = true;
        }
    }
});
$("#canvas").mousedown(function(e) {
    dragging = true;
});
$("#canvas").mouseup(function(e) {
    dragging = false;
    // validate path
    if (selCircs.length == correctPath.length){
        var valid = true;
        for (var i = 0; valid && i < correctPath.length; i++){
            var index = correctPath[i];
            if (selCircs[i].index !== index) valid = false;
        }
        if (valid) alert('correct!');
        else alert('Wrong pattern');
            
    }
    else alert('Wrong pattern');
    
    // reset selection
    for (var i = 0; i < selCircs.length; i++)
        selCircs[i].circ.selected = false;
    
    selCircs = [];
});
});
        </script>
        <h3 id="series"></h3>
        <canvas id="canvas" width="400" height="400"></canvas>

       
    </body>
</html>
